/*This is the styleguide for the restaurant website.*/
/*DO NOT include page layout here */


/*Typography*/
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	font-size: 1rem;
	color: #231F20;
}

p, figcaption {
	line-height: 1.75rem;
}

h1, .heading1 {
	font-weight: 500;
	font-size: 2rem;
}

h2, .heading2 {
	font-weight: 500;
	font-size: 1.5rem;
}

a {text-decoration: none;}

ul, ol, li {list-style: none;}

/*for more than 4 lines of text*/
.text-body-lg{
	font-size: 1rem;
	line-height: 28px;
	color:#4F4C4D;
}

/*for 1-3 lines of text*/
.text-body-sml{ 
	font-size: 1rem;
	line-height: 20px;
	color:#4F4C4D;
}

/* Flexbox */
*, *::before, *::after {
	box-sizing: border-box;
}

.container {
	display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: space-evenly;
	-ms-justify-content: space-evenly;
	justify-content: space-evenly;

	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.item {
	-webkit-flex: 1 1 0;
	-ms-flex: 1 1 0;
	flex: 1 1 0;
}

/*Modular Elements*/

/* Header - Navigation Bar */
header {
	background-color: #231F20;
	color: white;
	margin: 0;
	padding: .5em 1em;
	overflow: hidden;
}
header a {color: white;}
.logo {
	cursor: pointer;
	width: 4em;
	max-height: 3.32em;
	overflow: hidden;
	margin-right: auto;
}
.nav_links li {
	cursor: pointer;
	display: inline-block;
	padding: 0 2em;
	position: relative;
}
.sign-in {
	padding: 0 5em;
}
.nav_links li::after {
	position: absolute;
	content: ' ';
	background-color: #EE3324;
	bottom: -1.5em;
	left: 0;
	width: 0;
	height: .3em;
	transition: all .2s ease;
}
.nav_links li:hover::after {
	width: 100%;
}

/* Footer */
footer.container {
	margin-top: 8.5em;
	-webkit-align-items: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
	background-color: #231F20;
	color: white;
	padding: 4.25em 1em 8.5em 1em; 
}
footer img.item {
	cursor: pointer;
	width: 4em;
	height: auto;
}
footer .item {
	padding: 0 1em;
}
footer img.item {
	padding-right: 4.5em;
}
footer .item:nth-child(4) {
	padding-right: 0;
}
footer h2 {margin-top: 0}
.social-media {
	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
}
.social-media img {
	width: 2.2em;
	height: auto;
}
.social-media .item {
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
}


/* Call-to-action Button */
.btn {
	display: block;
	background-color: #231F20;
	color: white;
	padding: 1em;
	text-align: center;
	border: none;
	border-radius: 2px;
	transition: all .5s ease;
}

.btn:hover, .btn:active, .btn:focus {
	background-color: #EE3324;
}


/*Primary button*/

.pr_bt{
	background-color: #231F20;
	font-size:1rem;
	color:#fff;
	font-weight: 500;
	display: block;
	padding: 1em;
	text-align: center;
	border: none;
	border-radius: 2px;
	transition: all .5s ease;
}

.pr_bt:hover, .pr_bt:active, .pr_bt:focus{
	background-color: #EE3324;
}


/*Secondary button*/

/* In-text Link */
a.link, .link_bt {
	cursor: pointer;
	text-decoration: underline;
	color: #231F20;
}
a.link:hover, a.link:active, a.link:focus,
.link_bt:hover, .link_bt:active, .link_bt:focus {
	color: #EE3324;
}














